body {
    background-color: grey;
    font-family: 'Staatliches', cursive;
}
#background {
    background-color: rgb(123, 123, 253);
    background-image: url("img/background.png");
    width: 84%;
    height: 700px;
    margin: 50px auto 0px auto;
}
#picture {
    width: 639px;
    float: left;
    margin-top: 40px;
    margin-left: 30px;
}
#textbox {
    font-size: 20px;
    margin-top: 40px;
    margin-right: 30px;
    padding: 2.5%;
    float: right;
    width: 45%;
    height: 350px;
    background-color: rgba(154, 154, 154, 0.423);
}
#buttonbox {
    border: none;
    margin-top: 20px;
    margin-right: 30px;
    padding: 2.5%;
    float: right;
    width: 45%;
    height: 125px;
    background-color: rgba(154, 154, 154, 0.423);
}
.options {
    font-family: 'Stoke', serif;
    font-size: 15px;
    display: block;
    float: left;
    margin: 10px;
    border: none;
    width: 190px;
    height: 50px;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.722);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.options:hover {
    background-color: white;
    color: black;
}
button {
    display: none;
}
#inventory {
    position: absolute;
    border: rgb(3, 29, 21) solid 1px;
    right: 23px;
    width: 120px;
    height: 614px;
    background-color: rgba(5, 63, 46, 0.743);
}
#shovel {
    margin: 15px;
    width: 80px;
}